[server]
debug_mode = 1
http_port  = 80
http_addr  = 0.0.0.0
static_path = {{ hxt_install_dir }}/static
adapters   = aegir
enable_cors = true

[tornado]
logging = debug

[adapter.aegir]
module = aegir.adapter.AegirAdapter
port_name = /dev/ttyS1
