.header {
  text-align: center;
}

.navbar-brand {
  padding-left: 30px;
}

body {
  padding-top: 2.0rem;
}

.hxtleak {
  padding: 40px 15px;
}

.container-fluid > .row {
  margin-bottom: 1.5rem!important;
}

.status_card {
  min-height: 100%;
}

.pre-scrollable {
  white-space: pre-wrap;
  height: 340px;
  min-width: 100%;
}

.log-debug {
  color: black;
}

.log-info {
  color: green;
}

.log-warning {
  color: orange;
}

.log-error {
  color: red;
}

.log-critical {
  color: red;
}
